* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-image: url('../img/1801911.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    align-items: center;
}

.nav-bar {
    background-color: black;
    background-image: url('/img/Z7D2q6.jpg');
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-item {
    color: lightblue;
    text-decoration: none;
    font-size: 2.5em;
    font-family: 'Death Star', sans-serif;
    text-transform: capitalize;
}

.nav-item:hover {
    text-decoration: underline;
    color: white;
}

.card {
    padding: 5px;
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.700);
    font-family: monospace;
    text-transform: capitalize;
    font-size: 1.5em;
    overflow: hidden;
    border-radius: 3%;
    justify-content: center;
    border: 2px solid lightblue;
}

.card:hover {
    color: lightblue;
    transition: 2s;
    box-shadow: 0px 0px 20px lightblue;
}

.key {
    font-weight: bold;
}

.card-container {
    margin: auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.active {
    text-decoration: underline;
    color: white;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#previousButton,
#nextButton {
    margin: 0 20px;
    font-family: 'Death Star', sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.600);
    color: lightblue;
    border: 3px solid black;
}

#previousButton:hover,
#nextButton:hover {
    color: white;
}

.focused-view {
    position: fixed;
    height: 800px;
    width: 1600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.700);
    font-family: monospace;
    text-transform: capitalize;
    font-size: 1.5em;
    overflow: auto;
    border-radius: 3%;
    justify-content: center;
    border: 2px solid lightblue;
}

.exit-button{
    margin: 0 20px;
    font-family: 'Death Star', sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.600);
    color: lightblue;
    border: 3px solid black;
    position: fixed;
}